.france-name {
  margin: 0 35px 0 15px;
}
.france-name::first-child {
  margin: 0;
}
.france-name p {
  font-size: 12px;
  color: #d8d8d8;
}
.fsizer {
  font-size: 12px;
}
.data-list {
  margin-left: 20px;
}
.data-list:first-child {
  margin-left: 0 !important;
}
.data-list:last-child {
  margin-right: 0 !important;
}
.data-list h6 {
  /* border: 1px solid gray; */
  border-radius: 4px;
  background-color: #f4f4f4;
  border-width: 0px;
  padding: 3px 10px 3px 7px;
  font-size: 12px;
  height: 45px;
  width: 220px;
  display: flex;
  align-items: center;
  padding: 22px;
}

.data-list p {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #c2c2c2;
}
.data-option h6 {
  border-radius: 4px;

  background-color: #f4f4f4;
  border-width: 0px;
  height: 45px;
  width: 100%;

  margin-left: 22px;
}
.data-option p {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 25px;
  color: #c2c2c2;
}

.lister {
  border-radius: 4px;
  background-color: #f4f4f4;
  border-width: 0px;
  margin: 0px 20px 0px 0px;
}
input {
  width: 120px;
}
th {
  font-size: 12px;
}

.table-data {
  margin-left: 10px;
}

.table-data:first-child {
  margin-left: 0 !important;
}
.table-data:last-child {
  margin-right: 0 !important;
}
td {
  padding: 0 10px 0 0px;
}
td:first-child {
  padding-left: 0;
}
td:last-child {
  padding-right: 0;
}

.sizes {
  padding: 0 0 0 0;
}
